Options +FollowSymLinks

RewriteEngine On
RewriteBase /hackgame/

RewriteRule ^success$ . [R=302, L]
RewriteRule ^([0-9]+)$ index.php?id=$1 [L]
RewriteRule ^resources/(.+)\.v[0-9]+(.+)$ resources/$1$2 [L]